body {
    background-color: #B5DCFF;
    text-align: center;
}

div#header {
    background-color: white;
}

header {
    color: #021951;
    font-size: 72px;
}

table {
    margin-left: auto;
    margin-right: auto;
    font-size: 36px;
    color: #021951;
    margin-top: 20px;
}

table, th, td {
    border: 5px solid #021951;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
}